<div id="<%= dom_id contestant %>">
  <p>
    <strong>Name:</strong>
    <%= contestant.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contestant.email %>
  </p>

  <p>
    <strong>Number of votes:</strong>
    <%= contestant.number_of_votes %>
  </p>

  <p>
    <strong>User:</strong>
    <%= contestant.user_id %>
  </p>

</div>
