<p style="color: green"><%= notice %></p>

<h1>Contestants</h1>

<div id="contestants">
  <% @contestants.each do |contestant| %>
    <%= render contestant %>
    <p>
      <%= link_to "Show this contestant", contestant %>
    </p>
     

    <%= link_to "Vote for this contestant", new_contestant_vote_path(contestant) %>

  <% end %>
  
          
</div>
<%if can? :create, Contestant%>
  <p>
    <%= link_to "New Contestant", new_contestant_path %>
  </p>
<%end%>

