<%= form_for([@vote.contestant, @vote]) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Are you sure you want to vote  <%= @vote.contestant.name %>  
  You can only vote once so be sure you want to vote for this contestant


  <div class="actions">
    <%= f.submit "vote" %>
  </div>
<% end %>
