<%= form_for([@vote.contestant, @vote]) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card" style="width: 18rem;">
  <%= image_tag @vote.contestant.avatar , class: "card-image-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= @vote.contestant.name.capitalize %></h5>
    <p class="card-text">
    Are you sure you want to vote for  <%= @vote.contestant.name %>  ?
    <p class="text-danger"> 
    You can only vote once so be sure you want to vote for this contestant
    </p>
  
    
    </p>
    <div class="d-flex justify-content-center">
      <%= f.submit "vote" , class:"btn btn-success " %>
    </div>
  </div>
</div>

 

<% end %>
